/* 
    Created on : May 29, 2020, 8:28:30 PM
    Author     : brees
*/
td {
  color: white;
}

.femen{
    background-color: #EB1085;
}

.mask{
    background-color: #038E9E;
}

.neutrum{
    background-color: #EBD328;
}
